@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Saving lives through technology</h3>

<p>
    We are paving the road for the healthcare of tomorrow, answering the big questions, making far-sighted dreams possible; and yes … we are aiming for the moon!!
</p>
