@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>TachyHealth</h3>

<address>
    Delaware, 16192 Coastal Highway, Lewes, US<br />
    <abbr title="Phone">P:</abbr>
    +19497489953
</address>

<address>
    In5-Tech, Dubai Internet City, UAE<br />
    <abbr title="Phone">P:</abbr>
    +971566937370
</address>

<address>
    <i class="icon-envelope"></i><strong>Our Website:</strong>   <a href="https://www.tachyhealth.com">TachyHealth</a><br />
    <i class="icon-envelope"></i><strong>Support:</strong> <a href="mailto:info@tachyhealth.com">info@tachyhealth.com</a>
</address>
