@model TachyHealth.Models.RegisterViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (Model != null)
{
    <h1> Profile Info</h1>
    <li> Name :  @Model.FullName</li>
    <li> Phone :  @Model.MobileNumber</li>
    <li> Email :  @Model.Email</li>
}
